@keyframes fadeout{
    0% {
        opacity:1;
      }
      100% {
        opacity:0;
    }
    
}

.overlay {
    animation: 3s ease-in 0s 1 fadeout;
    animation-fill-mode: forwards;
    pointer-events: none;
    
    position: fixed; /* Sit on top of the page content */
    /*display: none;  Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

}


.card{
    border-color: #222222;
    border-width:2mm;
    filter: drop-shadow(0px 0px 10px black);
    box-shadow: 0px 0px 10px black inset;
}
.card:hover{
    filter:blur(0);
}
.card{
    
    filter: blur(2px);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}
