@keyframes fadeout{
    0% {
        opacity:1;
      }
      100% {
        opacity:0;
    }
    
}
span.rev { unicode-bidi:bidi-override; direction:rtl }
span.rev.phone:before { content:" 04 147 202 " }
span.rev.phone:after { content:" 60 :enohP" }



@keyframes fadeoutcolor{
    0% {
        
        filter: drop-shadow(0 0 0px rgb(0, 0, 0))
      }
      100% {
        filter: drop-shadow(0 0 20px rgb(0, 0, 0))
        
        
    }
    
}
@keyframes fadeincolor{
    0% {
        filter: drop-shadow(0 0 20px rgb(0, 0, 0))
        
      }
      100% {
        
        filter: drop-shadow(0 0 0px rgb(0, 0, 0))
        
    }
    
}
img{
    border-radius: 0%;
    
}
.card{
    border-color: #386445;
    border-width:2mm;
    border-radius: 2%;
    filter: drop-shadow(0px 0px 10px rgb(39, 77, 47));
    box-shadow: 0px 0px 10pxrgb(108, 117, 255) inset;
    filter: drop-shadow(0 0 0px rgb(30, 58, 38));
    animation: 0.3s ease-in 0s 1 fadeincolor;

}
.marginbottom{
    margin-bottom: 25px;
}
.card:hover{
    animation: 0.3s ease-in 0s 1 fadeoutcolor;
    filter: drop-shadow(0 0 20px rgb(0, 0, 0));
    
}

.btn{ 
    position:absolute;
    margin: 10px;
    bottom: 15px;
    right: 15px;
    background-color: rgb(78, 143, 73);
    border-color: rgb(42, 82, 45);
    border-radius: 2%;
    border-radius: 0px;
    border-width: 5px;

}
.btn:hover{
    color: black;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
    box-shadow: 0px 0px 5px inset;
    background-color: rgb(87, 165, 93);
    border-radius: 5%;
    border-color: rgb(32, 68, 32);
    border-radius: 0px;
    border-width: 5px;
    
}
.bodytje{
    background-color: rgb(216, 255, 109);
    
    border-width: 20px;

}
.card-img-top{
    border-radius: 0%;

}
.navbar{
    background-color: rgb(51, 110, 49);
    text-decoration: none;
    border:#000000;
    border-width: 20px;

}

html {
    overflow: scroll;
    overflow-x: hidden;

}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
    
}
