@keyframes fadeout{
    0% {
        opacity:1;
      }
      100% {
        opacity:0;
    }
    
}
span.rev { unicode-bidi:bidi-override; direction:rtl }
span.rev.phone:before { content:" 04 147 202 " }
span.rev.phone:after { content:" 60 :enohP" }



@keyframes fadeoutcolor{
    0% {
        
        filter: drop-shadow(0 0 0px rgb(0, 0, 0))
      }
      100% {
        filter: drop-shadow(0 0 20px rgb(0, 0, 0))
        
        
    }
    
}
@keyframes fadeincolor{
    0% {
        filter: drop-shadow(0 0 20px rgb(0, 0, 0))
        
      }
      100% {
        
        filter: drop-shadow(0 0 0px rgb(0, 0, 0))
        
    }
    
}
img{
    border-radius: 0%;
    filter: drop-shadow(0px 0px 10px black);
    box-shadow: 0px 0px 10px black inset;
    filter: drop-shadow(0 0 0px rgb(108, 117, 255));
}
.card{
    border-color: #5f43ff;
    border-width:2mm;
    border-radius: 2%;
    filter: drop-shadow(0px 0px 10px rgb(108, 117, 255));
    box-shadow: 0px 0px 10pxrgb(108, 117, 255) inset;
    filter: drop-shadow(0 0 0px rgb(108, 117, 255));
    animation: 0.3s ease-in 0s 1 fadeincolor;

}
.marginbottom{
    margin-bottom: 25px;
}
.card:hover{
    animation: 0.3s ease-in 0s 1 fadeoutcolor;
    filter: drop-shadow(0 0 20px rgb(0, 0, 0));
    
}

.btn{ 
    position:absolute;
    margin: 10px;
    bottom: 15px;
    right: 15px;
    background-color: rgb(0, 38, 255);
    border-color: rgb(0, 2, 102);
    border-radius: 2%;
    border-radius: 0px;
    border-width: 5px;

}
.btn:hover{
    color: black;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
    box-shadow: 0px 0px 5px inset;
    background-color: rgb(84, 82, 255);
    border-radius: 5%;
    border-color: rgb(0, 9, 94);
    border-radius: 0px;
    border-width: 5px;
    
}
.bodytje{
    background-color: rgb(214, 255, 100);
    
}
.card-img-top{
    border-radius: 0%;

}
.navbar{
    background-color: rgb(77, 95, 255);
    
    text-decoration: none;
    border:#000000;
    border-width: 20px;

}

html {
    overflow: scroll;
    overflow-x: hidden;

}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
    
}
